@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400&family=Noto+Serif:wght@400&display=swap');

@font-face {
  font-family: 'e-Ukraine';
  src:
    url('/fonts/e-ukraine/e-ukraine.woff2') format('woff2'),
    url('/fonts/e-ukraine/e-ukraine.woff') format('woff'),
    url('/fonts/e-ukraine/e-ukraine.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine';
  src:
    url('/fonts/e-ukraine/e-ukraine.woff2') format('woff2'),
    url('/fonts/e-ukraine/e-ukraine.woff') format('woff'),
    url('/fonts/e-ukraine/e-ukraine.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'e-Ukraine';
  src:
    url('/fonts/e-ukraine/e-Ukraine-Bold.woff2') format('woff2'),
    url('/fonts/e-ukraine/e-Ukraine-Bold.woff') format('woff'),
    url('/fonts/e-ukraine/e-Ukraine-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
